@charset "UTF-8";

@font-face{
    font-family: "Lato-Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face{
    font-family: "Lato-Light";
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Lato-Regular";
}

html, body {
    background-color: #f4f4f4;
    height:100%;
}
h2{
    margin: 10px 0;
    color: rgb(65, 61, 110);
}
.fcw{
    color:white;
}
.btn-primary{
    background-color: rgb(65, 61, 110);
}
.btn-light{
    border: 1px solid;
}
td {
    padding:15px;
}
.relative {
    position: relative;
}
.mg-0 {
    margin: 0;
}
.red-color {
    color: red;
}
.absolute-verification {
    position: absolute;
    top: 100px;
    right: 150px;
    border: 2px dashed;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    transform: rotate(-45deg);
}
.mh-320 {
    min-height: 320px;
}
.white-bg {
    background-color: #fff
}
.btn-lg {
    width: 150px;
    padding: 10px 16px;
}
.downloadKeyStore {
    min-height: 150px;
}
.downloadKeyStore button {
    font-size: 40px;
    width: 100px;
    height: 100px;
    color: #808080;
    background-color: #fff;
    border: 1px dashed #808080;
    border-radius: 50%;
}
.downloadKeyStore button:focus {
    outline: none;
}
.bg-4ad4b9 {
    background-color: #4ad4b9;
}
.bg-6cbbff {
    background-color: #6cbbff;
}
.bg-fec16b {
    background-color: #fec16b;
}
.bg-fd6c6c {
    background-color: #fd6c6c;
}
.bg-c7c6c6 {
    background-color: #c7c6c6;
}
.color-77808c {
    color: #77808c;
}
.color-000 {
    color:#000
}
.content {
    background-color: #e9f0f3;
}
.left_col {
  background-color: #172642;
  position: fixed;
  width: 230px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
a {
    cursor: pointer;
}
.mainBg {
    /* background-color: #41f589; */
    background: linear-gradient(to right, #CBC4FF, #FFCF6B 30%, rgba(237,28,36,.7), rgba(255,3,172,.7));
}
.absolute-w230{
    width: 230px;
    float: left;
}
.bg-header {
    background-color: #12305e;
}
.right-col {
    width: calc(100% - 230px);
    padding-left: 15px;
    padding-right: 15px;
    right: 0;
    background-color: #f4f4f4;
    transition: ease-in-out 0.5s;
    z-index: 2;
    position: absolute;
    min-height: 100%;
}
.w100p {
    width: 100% !important;
}
.block {
    display: block
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.flexible{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexible-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pdf-45 {
    padding-left: 45px;
}
.flexible-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexible-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav.side-menu > li {
    position: relative;
    cursor: pointer;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.mgr-5 {
    margin-right: 5px;
}
.mgr-15 {
    margin-right: 15px;
}
.close-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff
}
.close-menu img {
    width: 20px;
}
.nav.side-menu > li > a {
    width: 100%;
    margin-left: 20px;
}

.nav.side-menu > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: transparent;
}

.nav.child_menu {
    display: none;
}

.nav.child_menu li:hover,
.nav.child_menu li.active {
    background-color: rgba(255, 255, 255, 0.06);
}

.nav.child_menu li {
    padding-left: 36px;
}

.nav-md ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 12px;
}

.nav.side-menu > li.current-page,
.nav.side-menu > li.active {
    background: #FFCF6B;
}

.nav.side-menu > li.current-page a,
.nav.side-menu > li.active a {
    color: #3b3b3b;
}

.nav li.current-page {
    background: #FFCF6B;
}

.icon-bike:before {
    font-family: 'icomoon';
    content: "\61";
}

.icon-money:before {
    font-family: 'icomoon';
    content: "\62";
}

.icon-price-tag:before {
    font-family: 'icomoon';
    content: "\63";
}

.icon-smartphone:before {
    font-family: 'icomoon';
    content: "\64";
}

.nav.side-menu > li.current-page a span::before {
    color: #12305e;
}

.nav.side-menu > li a span {
    height: 25px;
    display: flex;
    align-items: center;
}

.nav.side-menu > li a span::before {
    font-size: 25px;
    margin-right: 10px;
    color: #fff;
}

.nav li li li.current-page {
    background: none;
}

.nav li li.current-page a {
    color: #fff;
}

.nav.side-menu > li.active > a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.navbar-brand, .navbar-nav > li > a {
    font-weight: 500;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 32px;
}

.k-progress {
  display: flex;
}
.k-contenter {
  padding: 0 !important;
}
.progress-bar.progress-squeeze{
  width:100%;
}

.progress-bar{
  width:100%;
}

.progress-bar{
  background:transparent !important;
}

.k-page-exchange{
  width: 100% !important;
}
.title {
  margin-left: 0 !important;
}

.text-center-contribute{
  margin: 0 auto;
}

.cursor-hand{
  cursor: pointer;
}
.vh100{
    height: 100vh;
}
.logo-menu img {
    height: 100px;
    margin: 30px 0px;
}
.logo-bikecoin {
    height: 40px;
}
.logo{
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.logo2{
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.uppercase {
    text-transform: uppercase;
}
.color-b4b2c5 {
    color: #b4b2c5;
}
.color-fff {
    color: #fff;
}
.color-text {
    color: #4F4F4F;
}
.color-a7a9a9 {
    color: #a7a9a9;
}
.color-50468e {
    color: #50468e;
}
.underline-none {
    text-decoration: none !important;
}
.size20 {
    font-size: 20px;
    margin: 0 5px;
}
.margin-auto {
    margin: 0 auto;
}
.h70{
    height:70px;
}
.h50{
    height:50px;
}
.pd10 {
    padding: 10px;
}
.mg-auto {
    margin: auto;
}
.shadow-bottom{
    box-shadow: 0 4px 2px -2px #80f3ff;
}
.pointer {
    cursor: pointer;
}
.title-modal {
    font-size: 20px;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.mh250 {
    min-height: 250px;
}
.closeModal {
    line-height: 0;
}
.closeModal:hover {
    color: #273a49;
}
.h100p {
    height: 100%;
}
.intro-popup-top {
    padding-top: 40px;
    padding-bottom: 45px;
}
.btn-custom {
    border: 1px solid #413d6e;
    color: #413d6e;
    background-color: #fff;
    font-weight: bold;
}
.btn-custom:hover {
    color: #fff;
    background-color: #413d6e;
}
.form-modal {
    width: 75%;
    margin: auto;
}
.form-dragdrop {
    width: 80%;
    margin: auto;
}
.pd30 {
    padding: 30px;
}
.mg30-0{
    margin: 30px 0 10px;
}
.drop {
    letter-spacing: 1px;
}
.dragDrop-container {
    border: 2px dashed #d6dee6;
    border-radius: 10px;
    min-height: 300px;
    margin-top: 30px;
}
.font60 {
    font-size: 60px;
}
.default-cursor {
    cursor: default;
    color: #413d6e;
}
.default-cursor:hover {
    color: #413d6e;
}
.menuBar{
    transition: ease-in-out 0.5s;
    position: relative;
}
.openMenu {
    left:0;
}
.closeMenu {
    left: -230px;
    width: 0px;
}
.z200{
    z-index: 200;
}
.no-effect {
    opacity: 0.1;
}
.mgt-10 {
    margin-top: 10px;
}
.mgb-10 {
    margin-bottom: 10px;
}
.mgt-30 {
    margin-top: 30px;
}
.mgb-30 {
    margin-bottom: 30px;
}
.pd-25 {
    padding: 25px;
}
.pd-20 {
    padding: 20px;
}
.mgr-10 {
    margin-right: 10px;
}
.mgr-20 {
    margin-right: 20px;
}
.mg-0{
    margin: 0;
}
.mgt-5{
    margin-top: 5px;
}
.pd-0 {
    padding:0;
}
.pd-15 {
    padding: 15px;
}
.pd-15-0 {
    padding: 15px 0;
}
.pd-0-15 {
    padding: 0 15px;
}
.font-50 {
    font-size: 50px;
}
.font-30 {
    font-size: 30px;
}
.font-40 {
    font-size: 40px;
}
.padding-0-10 {
    padding: 0 10px;
}
.container-tabs > div {
    position: relative;
}
.invisible {
    opacity: 0;
}
.visible {
    opacity: 1 !important;
}
.custom-search {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    transition: ease-in-out 0.3s;
}
.custom-search form {
    width: 100%;
    height: 100%;
}
.custom-search input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 60px 20px 20px;
    background-color: #1abb9c;
    color: #fff;
}
.close-search:hover {
    color: #fff;
}
.close-search {
    position: fixed;
    right: 10px;
    color: #fff;
    top: 5px;
    font-size: 40px;
}
.btn-action {
    position: absolute;
    top: -45px;
    right: 0;
    border: 1px solid;
    width: auto;
}
.btn-invite {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 50px;
    color: #5cb85c;
}
.btn-invite:hover {
    color: #74d074;
}
.contact-items {
    border-bottom: 2px solid #e9f0f3;
}
.none-effect:first-child > .contact-items {
    border-top: 2px solid #e9f0f3;
}
.activeContact {
    background-color: #e9f0f3
}
.none-effect:hover,
.none-effect {
    text-decoration: none;
}
.none-effect:hover,
.none-effect:active,
.none-effect:visited
{
    background-color: #e9f0f3
}
.activityContainer {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    overflow: auto;
}
.maskButton {
    background: rgb(255, 255, 255);
    border: 1px solid #12305e;
    color: #12305e;
    border-radius: 5px;
    padding: 7px 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.custom-button {
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 5px;
}
.onDrop {
    background-color: rgba(202, 202, 202, 0.5);
}
#loader {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-mini {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 16px;
    height: 16px;
    padding: 5px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.loader-medium {
    border: 10px solid #ecbcbc;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 40px;
    height: 40px;
    padding: 14px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.absolute-fancy-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.68);
    z-index: 99999999;
}
.pd-5-50 {
    padding: 5px 50px;
}

.absolute-body {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    background-color: #293448;
    transition: ease-in-out 1s;
    top: 0;
}
.slide-up {
    top: -1500px;
}

.tabStyle div button {
    padding: 0 !important;
}
.tabStyle div button {
    margin: 0px 5px !important;
}
.tabStyle div button:first-child {
    margin-left: 0px !important;
}
.tabStyle div button:last-child {
    margin-right: 0px !important;
}
.avatarDrop {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    cursor: pointer;
}
.avatarDropProfile {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    cursor: pointer;
}
.icon-camera {
    font-size: 40px;
    color: #868686;
}
/*
.tabStyle div button {
    border-left: 1px solid #FFF !important;
}*/
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*@media only screen and (min-width: 768px) {
    .tabParent > div > div {
        width: 40% !important;
    }
}*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
@media only screen and (max-width: 991px) {
    .right-col {
        width: 100%;
    }
    .menuBar {
        position: fixed;
        z-index: 100;
        width: 270px;
    }
    .closeMenu {
        /* left: -270px; */
        z-index: 1;
    }
}
@media only screen and (max-width: 767px) {
    .openMenu {
        width: 300px;
    }
    .pd10-767 {
        padding:10px;
    }
}

.div-welCome {
    display: inline-flex;
}

.p-userName {
    margin-right: 5px;
    font-size: 17px
}

.welcome-user-block {
    margin-left: 15px;
    color: #FFCF6B;
}

.welcome-user-block:hover {
    color: #FFCF6B;
    text-decoration: none;
}

.fa-user {
    color: #FFCF6B;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid gainsboro;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.icon-picture {
    width: 40px;
    opacity: 0.8;
}

.invoice {
    text-align: center;
    margin: 0px 0px 40px;
}

.color-web {
    color: #28f58a;
}

.success {
    width: 165px;
    margin-bottom: 80px;
    margin-top: 30px;
}

.text-success {
    color: #12305e;
    margin-top: 30px;
}

.wrapp {
    margin: 30px 0px;
    display: flex;
    align-items: center;
    min-height: 440px;
}

.step-label {
    min-width: 140px;
    text-align: center;
}

.step-label svg {
    margin: 0 auto;
    width: 50px !important;
    height: 50px !important;
    fill: rgb(65, 245, 136) !important;
}

.step-label svg text {
    font-size: 10px;
}

.text-step {
    font-size: 16px;
    margin-top: 10px;
    display: block;
}

input#file {
    display: none;
}

input#file:focus {
    outline: none;
}

.upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    transition: all 1.5s ease;
    cursor: pointer;
}

.upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    transition: all 1.5s ease;
    cursor: pointer;
}

.uploadNone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
    cursor: pointer;
}

.avatar:hover .upload {
    display: flex;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 12px 10px;
    letter-spacing: 2px;
}

.table>thead>tr>th {
    font-family: "Lato-Light";
}

.btn-group .btn:focus {
    outline: none;
}

.infoBox {
    background-color: white;
    width: 300px;
    padding: 5px;
    border: 1px solid #CACACA;
    box-shadow: rgb(178, 189, 181) 0px 0px 2px 1px;
    overflow: visible !important;
}

.table-bike tr,
.table-bike th,
.table-bike td {
    font-family: "Lato-Light";
    border-top: 1px solid rgba(240, 240, 240, .6);
}

.wrappOwner {
    min-height: 100px;
}

.ReactModalPortal .ReactModal__Overlay {
    overflow: scroll;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content {
    border: none !important;
}

.step-tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-tab::after {
    width: 100px;
    height: 1px;
    background: #b9b9b9;
    position: absolute;
    content: "";
    right: -130px;
}

.step-tab.active::after {
    top: 33px;
    right: -100px;
}

.step-tab.active.second::after {
    right: -130px;
}

.step-tab.last::after {
    content: none;
}

.action-form {
    margin-top: 30px;
    padding: 0px 15px;
    text-align: right;
}

.key-store {
    color: #808080;
}

.transaction {
    display: flex;
    align-items: center;
}

.fa-external-link {
    margin-left: 10px;
}

.infoBox>img {
    position: absolute !important;
    top: -10px;
    right: -10px;
    width: 25px;
    background: #2a2a2a;
    border-radius: 50%;
    padding: 5px;
}
.support-mobile {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #3B3B3B;
    text-align: center;
}
.not-Support-Mobile {
    margin-top: 70px;
    padding: 0 15px;
    color: #fff;
}

.logo-mobile {
    width: 250px;
    margin-top: 50px;
}

.button-login {
    background: #fff;
    border: 1px solid #12305e;
    color: #12305e;
    border-radius: 5px;
    padding: 7px 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.test-net {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.test-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.wrapp-loading {
    width: 100%;
    text-align: center;
    margin-top: -150px;
    padding: 0px 10px;
}

.image-geometries {
    width: 500px;
}

.wrapp-right {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    margin-top: 30px;
}

.box-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(195, 197, 196);
}

.box-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-right-return {
    padding: 20px 0px;
}

@media screen and (max-width: 767px) {
    .logo-bikecoin {
        height: auto;
        width: 90px;
    }

    .ReactModalPortal .ReactModal__Overlay .ReactModal__Content {
        width: 100% !important;
    }

    .box-left-mobile {
        margin-top: 20px;
    }

    .flexible-evenly {
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .button-login {
        min-width: 280px;
    }

    .intro-popup-top {
        padding-bottom: 20px;
    }

    .loading-tx {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .step-tab::after {
        width: 30px;
        right: -45px;
    }

    .step-tab.active::after {
        top: 25px;
        right: -15px;
    }

    .step-tab.active.second::after {
        top: 35px;
        right: -42px;
    }

    .image-crop > div > div {
        width: 100% !important;
    }

    .tabs > div {
        display: block !important;
    }

    .tab {
        display: block !important;
        width: 100% !important;
    }

    .tabs > div:nth-child(2) {
        display: none !important;
    }

    .image-geometries {
        width: 100%;
    }

    .block-riding {
        border-right: 0px !important;
    }

    .wrapp-right {
        display: block;
    }

    .box-left {
        width: 100%;
        border: none;
    }

    .box-right {
        width: 100%;
    }

    .box-right-verified {
        padding: 20px 0px;
    }
}
  